# Ignore all
*

# Unignore all Makefiles
!Makefile

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore compile files
*.i
*.ii
*.s
*.o
*.obj
*.out

# Ignore library files
*.a
*.so

# Ignore Linux SWAP files
*.swp
