# Ignore all
*

# Unignore all Makefiles
!Makefile

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore compile files
*.i
*.ii
*.s
*.o
*.obj
*.out

# Ignore library files
*.a
*.so

# Ignore Linux SWAP files
*.swp

# Ignore .vscode dir
*.vscode/

# Ignore .vs dir
*.vs/

# Ignore all CLion dirs
*.idea/
cmake-build-debug/

# Ignore all .csv files
*.csv

# Ignore all .png & .jpg files
*.png
*.jpg

# Ignore my binary output dirs
bin/
old/
bad/
out/
build/

# Ignore all .gch files
*.gch

# Ignore all CMakeSettings.json files
CMakeSettings.json
